body{
    background-color: black;
    color: white;
}
/*顶部导航栏*/
.nav-tabs li{
    padding: .75rem 1rem;
}
.nav-tabs li.active{
    border-bottom: 3px solid darkgray;
}
/*列表页的查询条件所在form样式*/
form.list_form{
    display: flex;
    padding: .75rem 1rem;
}
/*控件之间的距离*/
#searchForm>.input-prepend{
    margin-right: 30px;
}
.btn{
    padding: 0.20rem .75rem;
}
/*确认按钮组样式*/
.layui-layer-dialog .layui-layer-title,.layui-layer-dialog .layui-layer-btn{
    background-color: black;
    color: white;
}
/*确认提示框的取消按钮样式*/
.layui-layer-dialog a.layui-layer-btn1 {
    background-color:  #ccc;
}
/*确认提示框的提示文字样式*/
.layui-layer-dialog .layui-layer-content {
    background-color:  black;
}
/*layer msg样式*/
.demo-class{
    background-color: white;
    font-size: 16px;
    color: red;
}